body {
  background: #133468;
  display: flex;
  vertical-align: middle;
}

img {
  border-radius: 50%;
  border: 3px solid #d87913;
  height: 400px;
  width: 400px;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: #d87913;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #d87913;
}

a:hover {
  text-decoration: underline;
}

h2 {
  color: #e8a155;
  font-style: italic;
}
